<h1>Can't find your city on the list?</h1>
<h4>Well, add it to our system and get posting!</h4>
<input id="new-city-input" type="text" size="50">
<input type="file" id="new-city-image" placeholder="choose an image">

<button id="create-new-city">Add My City</button>
<button id="cancel-button">Cancel</button>
