<div style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">

<div style="background-color: #C7DAC8; position: relative; height: 6em; width:100%;">
  <h1 style="color: #777; font-size: 4em;">LocalGuides</h1>
</div>

<div style=" height: 960px; width: 100%; position: absolute; opacity: 0.3; ">

  <img src="https://s3-eu-west-1.amazonaws.com/local-guides/uploads/misc/email-background.jpg" style="height: 100%; width: 100%;">
  <div>
    <h1>Hey <%= @recipient.name.split.first %>, <%= @sender.name %> in <%= @sender.city.name %> wants to chat!</h1>


  </div>


</div>

</div>