#city-profile {
  background-color: #C6DAC7;
  
  #city-profile-picture {
    height: 50%;
    width: 58%;
    border-radius: 50%;
  }

}

#city-profile-places, #city-profile-users {
  font-size: 1.5em;
  img {
    width:100px;
    margin: 10px;
  }
}

.place {
  margin-bottom: 10px;
}

#city-details {
  text-align: center;
  height: 100%;
}

#city-left {
  height: 100%;
  padding:20px;
}

#city-places {
  background-color:#ADBCC8;
}

#city-users, #city-places {
  padding-top: 20px;
}

#weather-icon {
  margin-left: 1em;
}
