#current-user-view, #user-profile {
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  width: 50%;
  padding: 3%;
  /*width:50%;*/
  position: relative;
  /*bottom: 100%;*/
  /*left: 25%;*/
}

.profile-user-image {
  float:left;
}

.profile-user-details {
  /*float: right;*/
}

.info {
  width: 100%;
  display: block;
}