#main-map-view{
  height:60%;
  width:100%;

}

#map-canvas {
  height: 70%;
  width:90%;
  margin: 0 auto;
  margin-top: 3%; 
}

#new-form {
  display:none;
}

#reveal-place-form {
  margin-left: 62px;
}