html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #EEEEDE;
}

.hidden {
  display: none;
}

nav {
  background-color: #8F8996;
  height: 10%;
  font-size: 25px;
  span, #search, #login {
    display: inline-block;
    margin: 0 auto;
  }
  a {
    color: inherit;
  }
}

#login {
  display: inline-block;
  /*right:0;*/
  margin-left: 900px;
}


#city-nav{
  left:0;
  margin-top: 3.5%;
  float: left;
  display:inline-block;
  background-color: rgb(230,230,230)
}

.map-icon {
  height: 20px;
}

.scroll {
  height: 100%;
  overflow-y: auto;
}

.bold {
  font-weight: bold;
}