html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  // background-color: #EEEEDE;
}

.hidden {
  display: none;
}

nav {
  background-color: #00BCD4;
  height: 7%;
  font-size: 25px;
  span, #search, #login {
    display: inline-block;
    margin: 0 auto;
  }
  a {
    color: inherit;
  }
}

#login {
  display: inline-block;
  position: absolute;
  right: 1%
}

#logo {
 display: inline-block;
 position: absolute;
 left: 1%; 
 font-weight: bolder;
 font-size: 1.5em;
}

.map-icon {
  height: 50px;
}

.scroll {
  height: 100%;
  overflow-y: auto;
}

.bold {
  font-weight: bold;
}

#search {
  position: absolute;
  right: 50%;
}

#new-city {
  font-size: 12px;
  color: #666666;
}