html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(246,246,246);
}

.hidden {
  display: none;
}

nav {
  background-color: rgb(56,121,217);
  height: 10%;
  font-size: 25px;
  span, #search, #login {
    display: inline-block;
    margin: 0 auto;
  }
  a {
    color: inherit;
  }
}

#login {
  display: inline-block;
  /*right:0;*/
  margin-left: 900px;
}
