#main-map-view{
  height:60%;
  width:100%;
}

#map-canvas {
  height: 100%;
  width:100%;
  margin: 0 auto;
  margin-top: 5%; 
}

#new-form {
  display:none;
}

#city-nav ul{
  list-style: none;

}


#reveal-place-form {
  text-align: right;
}

#new-image {
  display:inline-block;
}

#new-description {
  display: inline-block;
  margin-left: auto;
}
