html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(253,246,227);
}

.hidden {
  display: none;
}

.partial {
  margin:0 auto;
  /*float:right;*/
  height:inherit;
  width: 80%;
  display: inline-block;
  position: absolute;
}

nav {
  background-color: rgb(56,121,217);
  height: 10%;
  font-size: 25px;
}

#login {
  display: inline-block;
  /*right:0;*/
  margin-left: 900px;
}

#city-nav{
  left:0;
  /*height: 80%;*/
  float: left;
  display:inline-block;
}

.close-window {
  border: 1px solid black;
  display: inline-block;
  width:20px;
}

.below {
  margin-top: 8%;
}
