#main-map-view{
  height:60%;
  width:100%;

}

#map-canvas {
  height: 70%;
  width:90%;
  margin: 0 auto;
  margin-top: 3%; 
}

#new-form {
  height:15%;
  display:none;
  margin-left: 62px;
  font-weight: bold;
  margin-top: 10px;
  background-color: #E0F7FA;
  padding: 1%;
  border-radius: 5px;
  width:90%;

}



#new-image {
  display: inline-block;
  /*margin-left: 20px;*/
}

#new-title {
  margin-right: 20px;
}

#new-description {
  display: inline-block;
  position: absolute;
  right: 40%;
}

.place-form-section{
  height:100%;
}

#submit-place-form {
  position: absolute;
  bottom: 0;
  left: 0;
}