#main-map-view{
  height:60%;
}

#map-canvas {
  height: 70%;
  width:90%;
  margin: 0 auto;
  margin-top: 3%; 
}

.gm-style-iw {
  padding:1em;
}

#new-form {
  height:16%;
  display:none;
  /*margin-left: 62px;*/
  margin:0 auto;
  font-weight: bold;
  margin-top: 1%;
  background-color: #E3E3E3;
  padding: 1%;
  border-radius: .5em;
  width:70%;
  font-size: 1em;
  div {
    overflow: auto
  }
}


#new-image {
  display:inline-block;
  margin-top: 5%;
}


#new-title {
  /*margin-right: 20px;*/
}

#new-description {
  display: inline-block;
  margin-left: auto;
  position: absolute;
  font-size:0.9em;
  font-weight: normal;
}

.place-form-section{
  height:100%;
}

#submit-place-form {
  position: absolute;
  bottom: 0;
  right:2%;
  /*margin-top: 10px;*/
}

