#place-profile {
  display: inline-block;
  border: 2px solid black;
  background-color: white;
  position: relative;
  bottom: 65%;
  left: 25%;
  height:70%; 
  overflow-y:auto;
  text-align: center;
}