#place-profile-picture {
  width:100%;
}

.comment {
  margin: 5px;
}

#new-comment {
  width: 100%;
}

#comment-box, #review-box {
  padding-bottom: 5px;
  position: absolute;
  bottom:2%;
}

#place-profile-map {
  position: absolute;
  right: 25%;
}