#place-profile-picture {
  width:100%;
}

#place-middle-box {
  padding-right: 0 ;
}

.comment {
  margin: 5px;
}

#new-comment {
  width: 100%;
}

#comment-box, #review-box {
  padding-bottom: 5px;
  position: absolute;
  bottom:2%;
}

#place-profile-map {
  position: absolute;
  right: 25%;
}
// #place-profile-details-background {
//   height:100%;
//   background: url('https://local-guides.s3.amazonaws.com/uploads/city/image/2/paris.jpg');
//   opacity: 0.2;
//   filter: alpha(opacity=20);
//   position:absolute;
// }

#place-middle-box {
  padding-right: 0;
}