#user-profile {
  background-color: #EEEEEE;
  // color: white;
  padding-right:0;
  // padding-bottom: 2em;
}

// #user-profile-pic, #user-profile-picture {
//   max-height: 100%;
// }

#user-profile-picture {
  width: 100%;
  // max-height: 100%;
  border-radius:50%;
  margin-top: 25%;
}

#user-profile-reviews {
  padding: 10px;
  h4 {
    margin-bottom:2em;
  }
}

#user-profile-reviews, #user-profile-places, #user-profile-chat {
  background-color: #737594;
  padding: 15px;
  // color: white;
  
}

#user-profile-other {
  padding-right:0;
}

#user-profile-details {
  height: 100%;
  color:auto;
}

.review {
  background-color: #EEEEEE;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 2em;
  box-shadow: 0 0 5px 10px #EEEEEE;
}

.review:even {
  background-color: #EEEEFF;
}

#user-profile-places-table td {
  padding: 15px;
}

#user-profile-chat{
  h3{
    color: #EEEEEE;
    margin-bottom: 5%;
  }
  text-align: center;
}

