#user-profile {
  background-color: #EEEEEE;
  padding-right:0;
}


#user-profile-picture {
  width: 100%;
  border-radius:50%;
  margin-top: 25%;
}

#user-profile-reviews h4 {
    margin-bottom:2em;
}

#user-profile-reviews, #user-profile-places, #user-profile-chat {
  background-color: #737594;
  padding: 1.5em;
}

#user-profile-other {
  padding-right:0;
  color: #EEEEEE;
}

#user-profile-details {
  height: 100%;
  color:auto;
}

.review {
  background-color: #EEEEEE;
  color:black;
  border-radius: 1em;
  padding: .5em;
  margin: .5em;
  margin-bottom: 2em;
  box-shadow: 0 0 .5em .5em #EEEEEE;
}

.review:even {
  background-color: #EEEEFF;
}

#user-profile-places-table {
  font-size: 1.5em;
  td {
  padding: 1em;
  }
}

#user-profile-chat{
  h3{
    color: #EEEEEE;
    margin-bottom: 5%;
  }
  text-align: center;
}

#new-mail-content {
  color:black;
}

