<h1 id="city-view-title"></h1>

<h2 id="city-users-reveal">Local Guides in </h2>
<table id="city-users">
  <tr>
    <td>Name</td>
    <td>Number of Posts</td>
    <td>Reviews</td>
    <td>Interests</td>
  </tr>

</table>