<div id="city-left" class="col-md-4">

  <div id="city-details" class="col-md-12 scroll">
    <img id="city-profile-picture" src="" alt="">
    <h1 class="city-profile-name"></h1>
    <img src="https://s3-eu-west-1.amazonaws.com/local-guides/uploads/misc/map+.svg" id="city-profile-map" class="map-icon link">

    <div id="weather">
      <!-- <h5>Weather now: <span id="temp">&degC</span> <img id="weather-icon" src="" alt="weather icon"></h5> -->
    </div>

  </div>
</div>

<div id="city-right" class="col-md-8 scroll">
  <div id="city-places" class="col-md-6 scroll">
    <h3>Places in <span class="city-profile-name"></span></h3>
    <table id="city-profile-places"></table>
  </div>

  <div id="city-users" class="col-md-6 scroll">
    <h3>Users in <span class="city-profile-name"></span></h3>
    <table id="city-profile-users"></table>
  </div>
</div>