<!-- <button class="city-btn" >go to london</button> -->

<!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
<div id="map-canvas"></div>
<!-- <input type="text" id="search-box"> -->

<button id="new-place">create new place</button>
<div id="new-form">

  <p>Title: <input size="20" type="text" id="new-title" name="lat" ></p>
  <p>Description:</p>
  <textarea name="description" id="new-description" cols="30" rows="10"></textarea>
  <p class="hidden">Latitude: <input size="20" type="text" id="new-lat" name="lat" ></p>
  <p class="hidden">Longitude: <input size="20" type="text" id="new-long" name="lng" ></p>
  <p class="hidden" id="user-id"><%= current_user.id %></p>
  <button id="submit-form">submit place</button>
</div>


<!-- <div id="new-city-form">
  < %= render 'new_city_form' %>
</div -->