<div id="place-profile-details" class="col-md-4">
  <h3 id="place-profile-title"></h3>
  <p id="place-profile-description"></p>
  <p>Posted by: <span id="place-profile-poster"></span></p>
  <img src="https://s3-eu-west-1.amazonaws.com/local-guides/uploads/other/map.svg" id="place-profile-map">
</div>

<div class="col-md-4">
  <img src="" alt="" id="place-profile-picture">
</div>

<div id="place-profile-comments" class="col-md-4">
  <h4>Comments</h4>
</div>

