<div class="close-window">X</div>
<h1 id="place-profile-title"></h1>
<img src="" id="place-profile-image">
<p id="place-profile-description"></p>
<p id="place-profile-user">Posted by: </p>
<%= User.find(1).name %>