<div id="user-profile-details" class="col-md-4">
  <h3 id="user-profile-name"></h3>
  <h4 id="user-profile-city"></h4>

  <div id="user-profile-activity">
    <div id="user-profile-activity-light"></div>
    <span id="user-profile-activity-status"></span>
  </div>

  <h4 id="user-profile-message">Message Me</h4>

</div>

<div id="user-profile-pic" class="col-md-4">
  <img src="" id="user-profile-picture" >
</div>

<div id="user-profile-other" class="col-md-4 scroll">
  <div id="user-profile-reviews" class="col-md-12"></div>
  <div id="user-profile-chat" class="col-md-12 hidden"></div>
</div>
