<div class="close-window">X</div>
<!-- <div class="info"> -->
  <div class="profile-user-image" id="profile-pic"></div>
  <div class="profile-user-details" id="profile-details"></div>
<!-- </div> -->
<div style="clear:both;"></div>
<div class="profile-places">
  <table class="profile-places-table" id="user-places-table"></table> 
</div>