<div id="main-map-view" class="col-md-8"> 
  <%= render 'main_map_view' %>
</div>

<div id="city-profile" class="hidden col-md-10 col-md-offset-1">
  <%= render 'city_profile'%>
</div>




























