<div id="main-map-view" class="partials"> 
  <%= render 'main_map_view' %>
</div>

<div id="city-nav">
  <%= render 'city_list' %>
</div>

<div id="current-user-view" class="hidden partials"> 
  <%= render 'current_user_profile' %>
</div>

